*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-image: url(imagen1.jpg);
    
}

.formato1 {
    background-color: rebeccapurple;
    
    color: white;
}

.formato2 {
    background-color: rebeccapurple;
    width: 150px;
    color: white;
}

.titulos{ 
    background-color: purple; width: 50%; 
}

#titulo {
    text-align: center
}

#boton:hover{background-color: mediumslateblue;}




